body{
    background-color: rgb(229, 237, 247);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(91, 93, 95);
}

.parrafo3{
    color: rgb(81, 142, 211);
}

.parrafo5{
    color: rgb(81, 211, 120);
}   
